{% extends 'base.html.twig' %}

{% block body %}
    <div class="col col-xs-offset-5 col-xs-8">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form, {'attr': {'class': 'btn btn-danger',
            'onclick': 'return confirm("Are you sure?")',
        }}) }}
        {{ form_end(form) }}
        <br>
        <a class="btn btn-default" href="{{ path('news_index') }}"><-Back to the list</a>
    </div>


{% endblock %}
