{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col col-xs-offset-2 col-xs-2">
            <a href="{{ path('news_index') }}" class="btn btn-default"><-Back to the list</a>
        </div>

        <div class="col col-xs-6">
            <h1>News edit</h1>
            {{ form_start(edit_form) }}
            {% if form_errors(edit_form) %}
                <div class="row alert alert-warning">
                    <div>
                        {{ form_errors(edit_form) }}
                    </div>
                </div>
            {% endif %}
            <div class="col col-xs">
                {{ form_row(edit_form.title) }}
            </div>
            <div class="col col-xs">
                {{ form_row(edit_form.content) }}
            </div>
            <div class="col col-xs">
                <img src="{{ asset('images/') }}{{ news.image }}" width="200px" alt="">
                {{ form_row(edit_form.image) }}
            </div>
            <div class="col col-xs">
                {{ form_row(edit_form.published) }}
            </div>
            <div class="col col-xs">
                <input class="btn btn-success" type="submit" value="Save" />
            </div>

            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
