{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col col-xs-offset-2 col-xs-2">
            <a href="{{ path('news_index') }}" class="btn btn-default"><-Back to the list</a>
        </div>

        <div class="col col-xs-6">
            <h1>News create</h1>
            {{ form_start(form) }}
            {% if form_errors(form) %}
            <div class="row alert alert-warning">
                <div>
                    {{ form_errors(form) }}
                </div>
            </div>
            {% endif %}
            <div class="col col-xs">
                {{ form_row(form.title) }}
            </div>
            <div class="col col-xs">
                {{ form_row(form.content) }}
            </div>
            <div class="col col-xs">
                {{ form_row(form.image) }}
            </div>
            <div class="col col-xs">
                {{ form_row(form.published) }}
            </div>
            <div class="col col-xs">
                <input id="submitCreateButton" class="btn btn-success" type="submit" value="Create" />
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
