{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col col-xs-offset-2 col-xs-2">
            <a href="{{ path('news_index') }}" class="btn btn-default"><-Back to the list</a>
        </div>
        <div class="col col-xs-offset-2 col-xs-8">
            <h1>{{ news.title }}</h1>
            <div class="col col-xs-4">
            {% if news.image %}
                <img src="{{ asset('images/') }}{{ news.image }}" width="300" height="auto" alt="Image" />
            {% else %}
                <img src="{{ asset('images/default.jpg') }}" width="300" height="auto" alt="Image" />
            {% endif %}
            </div>
            <div class="col col-xs-4">
                <p>{{ news.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
