{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block body %}
{% for n in news %}
    <div class="row">
        <div class="col col-xs-offset-2 col-xs-8">
            <a href="{{ path('news_show', { 'id': n.id }) }}">
                <div class="row">
                    <div class="col col-xs-4">
                        {% if n.image %}
                            <img src="{{ asset('images/') }}{{ n.image }}" width="auto" height="80" alt="Example" />
                        {% else %}
                            <img src="{{ asset('images/default.jpg') }}" width="auto" height="80" alt="Example" />
                        {% endif %}
                    </div>
                    <div class="col col-xs-8">
                        <h3>{{ n.title }}</h3>
                        <i>{{ n.content|length > 100
                            ? n.content|slice(0, 100) ~ '...'
                            : n.content  }}
                        </i>
                    </div>
                </div>
            </a>
            <hr>
        </div>
    </div>
{% endfor %}
    <div class="row navigation">
        <div class="col col-xs-offset-5">
        {{ knp_pagination_render(news) }}
        </div>
    </div>
{% endblock %}