<header id="header">
    <div class="top">
        <ul id="navigation">
            <li><a href="{{ path('BlogBlogBundle_homepage') }}">Home</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">
                        <span class="glyphicon glyphicon-cog"></span> Manage
                    </a>
                </li>
            {% endif %}
            {% if not app.user %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>
                         Sign In
                    </a>
                </li>
            {% elseif app.user %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-user"></span>
                        {{ app.user.username }} |
                        <span class="glyphicon glyphicon-log-out"></span> Sign Out
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>