{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>You are registered now</p>
    <script>window.location.href = "{{ path('news_index') }}" </script>
{% endblock fos_user_content %}
