{% extends "base.html.twig" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="login-form row">
        <div class="col-xs-offset-4 col-xs-3  form">
            <br>
            <h3>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                SIGN UP
            </h3>
            <div class="row">
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>
            <div class="row">
                Already registered? <a href="{{ path('fos_user_security_login') }}">Sign in  now!</a>
            </div>

        </div>
    </div>
{% endblock body %}