{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="col input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-envelope"></i>
    </span>
    {{ form_row(form.email, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
</div>
<div class="col input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
    </span>
    {{ form_row(form.username, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
</div>
<div class="col input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
    </span>
    {{ form_row(form.surname, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Surname'}}) }}
</div>
<br>
<div class="col input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-lock"></i>
    </span>
    {{ form_row(form.plainPassword.first, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
</div>
<div class="col input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-lock"></i>
    </span>
    {{ form_row(form.plainPassword.second, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}}) }}
</div>
<br>
<div class="col">
    <input type="submit" class="btn btn-success" value="SIGN UP" />
</div>
{{ form_end(form) }}
