html, body {
    height: 100%;
    margin: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#addButton {
    left: 40%;
    margin: 50px 40%;
}

#header {
    width: 100%;
    margin-bottom: 50px;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f4e5e;
}
    #navigation li{
        float: left;;
    }
    #navigation li:first-child {
        font-family: 'Menlo', 'Monaco', monospace;
        font-style: italic;
    }
    #navigation li:last-child {
        position: absolute;
        right: 10px;
    }
    #navigation li a {
        display: block;
        color: #218BC3;
        text-align: center;
        font-size: 1.3em;
        padding: 14px 16px;
        text-decoration: none;
    }
    #navigation li a:hover {
        color: #5eb5e0;
        background-color: #17324f;
    }

.pagination {
    background-color: #FAFAFA;
    color: #17324f;
    border-radius: 10px;
    box-shadow: 0 0 5px #17324f;
    padding: 10px;
}
    .pagination .current {
        background-color: #17324f;
        color: #FAFAFA;
        border: 1px solid inherit;
        border-radius: 10px;
        box-shadow: 0 0 3px #17324f;
        padding: 15px;
        margin: 10px;
    }
    .pagination .page, .next, .last {
        margin: 5px;
    }