{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="col input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" placeholder="Username"/>
    </div>

    <div class="col input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
        </span>
        <input type="password" id="password" name="_password" class="form-control" required="required" placeholder="Password" />
    </div>

    <div class="col checkbox">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            Remember me
        </label>
    </div>
    <div class="col">
        <input type="submit" id="_submit" name="_submit" class="btn btn-success" value="SIGN IN" />
    </div>
    </form>
