
{% extends "base.html.twig" %}

{% block title %}Sign in{% endblock %}

{% block body %}
    <div class="login-form row">
        <div class="col-xs-offset-4 col-xs-3  form">
            <br>
            <h3>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                SIGN IN
            </h3>
            <div class="row">
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
            <div class="row">
                <div class="col">
                    Don't have an accout? <a href="{{ path('fos_user_registration_register') }}">Register now</a>
                </div>
            </div>

        </div>
    </div>
{% endblock body %}