{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block title %}BlogBlogBundle:Admin:admin{% endblock %}

    {% block body %}
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <div id="addButton">
            <a id="addNews" href="{{ path('news_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>Add News
            </a>
        </div>
        <div class="col col-xs-offset-2 col-xs-10">
            {% for n in news %}
                <a href="{{ path('news_show', { 'id': n.id }) }}">
                    <div class="col col-xs-8">
                        <div class="col col-xs-4">
                            {% if n.image %}
                                <img src="{{ asset('images/') }}{{ n.image }}" width="auto" height="80" alt="Example" />
                            {% else %}
                                <img src="{{ asset('images/default.jpg') }}" width="auto" height="80" alt="Example" />
                            {% endif %}
                        </div>

                        <h5>{{ n.title }}</h5>

                        <p>{{ n.content|length > 100
                            ? n.content|slice(0, 100) ~ '...'
                            : n.content  }}
                        </p>

                        <hr>
                    </div>
                </a>
                <div class="col col-xs-4">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a id="deleteButton" class="btn btn-danger"
                               href="{{ path('news_delete', {'id': n.id}) }}">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </a>
                            <a id="editButton" class="btn btn-warning"
                               href="{{ path('news_edit', {'id': n.id}) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>
                            {% if n.published == '0' %}
                            <a class="btn btn-success"
                               href="{{ path('news_publish', {'id': n.id}) }}">
                                <span class="glyphicon glyphicon-ok"></span> Publish
                                {% elseif n.published == '1' %}
                                <a class="btn btn-default" disabled="disabled">
                                    <span class="glyphicon glyphicon-ok"></span> Published
                                    {% endif %}
                                </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row navigation">
            <div class="col col-xs-offset-5">
                {{ knp_pagination_render(news) }}
            </div>
        </div>
{% endblock %}
